<!DOCTYPE html>
<html lang="ja">
   <head>
    <meta charset="UTF-8" />
    <link rel="stylesheets" href="show.css" />
</head>

<body>
 <% if @show_notice %>
  <div class="notice"><%= @show_notice %></div>
<% end %>

<div class="book-set">
    <strong>Title:</strong>
     <p><%= @book.title %></p>
  </div>

<div class="book-set">
    <strong>Body:</strong>
      <p><%= @book.body %></p>
  </div>

<div class="book-select">
<%= link_to "Edit", edit_book_path(@book.id) %>
 <a href = /books>Back</a>
</div>
</body>
</html>

