<!DOCTYPE html>
<html lang="ja">
   <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="top.css" />
</head>

 <h2>ようこそ Bookersへ！</h2>

<body>
 <div class= "top-page">
<p><strong>Bookers</strong>では、さまざまな書籍に関するあなたの意見や</P>

<p>印象を共有し交換することができます。</p>


 <%=link_to 'Start',books_path %>
 </div>

 </body>
