* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  margin:30px;
  font-size:2em;
  font-weight: bold;
  color: #333333;
}

.book-edit {
  display: block;
  margin: 10px 30px 0;
  font-size: 13px;
}

.book-edit label {
  display: block;
  margin-bottom: 5px;
}

.submit-button {
  margin: 10px 0;
}

.book-edit input[type="submit"] {
  padding: 3px 5px;
}

.book-link {
  margin-left: 40px;
  font-size: 13px;
}

.book-link a {
  
}