* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.book-set {
  display: flex;
  font-size: 13px;
  color: #333333;
}

.book-set strong {
  margin-top: 10px;
  margin-left: 60px;
 padding: 13px 0 20px 0;
  
}

.book-set p {
  display: flex;
  margin-top: 20px;
}

.book-select {
  margin: 20px 40px;
  font-size: 13px;
  color: #000000;
}

